{#
/**
 * @file
 * Default theme implementation to generate GBIF Stats.
 *
 * Available variables:
 *   - country_code
 *
 * @see template_preprocess_gbifstats()
 *
 * @ingroup themeable
 */
#}
<div class="stats">
  <p>Génération complète</p>
  <p></p>
  <p>Pour voir le résultats, allez sur la page <a href="../../gbifstats/display/{{ country_code }}" target="_blank">/gbifstats/display/{{ country_code }}</a></p>
</div>