{#
/**
 * @file
 * Default theme implementation to print GBIF Stats text.
 *
 * Available variables:
 *   - country_code
 *
 * @see template_preprocess_gbifstats()
 *
 * @ingroup themeable
 */
#}
<div class="stats">
  <p>Génération complète</p>
</div>